* {
  margin: 0;
  padding: 0;
}
div {
  width: 600px;
  margin: 0 auto;
}

th {
  border: 1px solid black;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: blue;
}
td {
  border: 1px solid black;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: yellow;
}
table,tr,th,td {
  border-collapse: collapse;
  border-spacing: 0;
}
