*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.box {
	width: 1350px;
	height: 462px;
	border-top: solid 18px #fff; 
	border-left: solid 20px #fff;
	border-right: solid 10px #fff;
	border-bottom: solid 10px #fff;
	position: relative;
}
.box .list{
	background:rgba(0,0,0);
	color:white;
	width: 236px;
	height: 452px; 
	padding-top: 10px;
	float: left;
}
.box .list li{
	display: block;
	height: 16px; 
	line-height: 16px;
	margin-top: 5px;
	padding-top: 11px;
	padding-bottom: 12px;
    padding-left: 15px;
	cursor: pointer;
}
.box .list li.active {
	background-color: orange;
}
.box .content {
	width: 1114px;
	height: 462px;
	float: left;
	background-color: #ccc;
}
.box .content p {
	width: 100%;
	height: 462px;
	text-align: center;
	font: 700 50px/462px "楷体";
    display: none;
}
.box .content p.active {
	display: block;
}